node_modules/
*.log
backend/__pycache__/
*.pyc
mysql-data/
database/pass_s3_env
.env
.github/workflows/deployment_service.yaml
NOA/
backend/__pycache__/
backend/frontend/uploads/
first_terraform/
get_helm.sh
mysql-volume.tar
temp-pods.yaml
uploads-volume.tar
ec2_terra_task/credentials
first_terraform/.terraform
ec2_terra_task/credentials
../backend/__pycache__/
../uploads-data/
../mysql-data/
../terraform.tfstate.backup
.terraform/
backend/__pycache__/
helm-chart/values-us-east-1a.yaml
helm-chart/values-us-east-1b.yaml
k9s_linux_amd64.deb
root/live/prod/eks/.terragrunt-cache/*
*/.terragrunt-cache
/root/
