Flask==2.3.6
Flask-SQLAlchemy==3.0.5
Werkzeug==2.3.7
Jinja2==3.1.2
itsdangerous==2.1.2
Click==8.1.7
MarkupSafe==2.1.5
psycopg2-binary==2.9.11
azure-identity==1.15.0
azure-keyvault-secrets==4.7.0
azure-storage-blob==12.19.0